.warning, .fa {
    color: deeppink;
    font-size: 12px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: white !important;
    background-color: deeppink !important;
    border-color: deeppink !important;
    outline: none !important;
    box-shadow: none !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

h6 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 8rem;
}

#wh {
    color: white;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.parallax {
    /* The image used */
    background-image: url("./assets/images/hero-placeholder.jpg");
    /* Set a specific height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 20%;
}

.parallax-two {
    /* The image used */
    background-image: url("./assets/images/shelf-header.jpg");
    /* Set a specific height */
    height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 10%;
}

.parallax-three {
    /* The image used */
    background-image: url("./assets/images/wallet-header.jpg");
    /* Set a specific height */
    height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 15%;
}

.row {
    display: block;
    padding: 50px;
}

.btn-lg {
    margin: 50px;
}

#shelf-glance {
    background: #E6E6E6;
}

#budget-glance {
    background: white;
}

.footer {
    background: black;
    color: white;
}

.d-inline-block {
    align-self: center!important;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
    padding: 20%;
}

.btn {
    background: black;
    border: grey;
}